%h2= t("multi_login.#{provider}.acceptable_users")
%table.users
  %tr
    %th= t("multi_login.#{provider}.id")
    %th(colspan="2")
  - @names.each_with_index do |name, i|
    %tr{:class => (i + 1).odd? ? 'odd' : 'even'}
      %td= name
      %td
        = link_to t('delete'), "/admin/plugins/multi_login/#{provider}/acceptable_users/#{name}", :class => 'button' , :method => :delete
%form{:action => "/admin/plugins/multi_login/#{provider}/acceptable_users", :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  .field
    %label{:for => 'name'}= t("multi_login.#{provider}.id")
    %br
    %input{:type => 'text', :id => 'name', :name => 'name'}
  .filed
    %input{:type => 'submit', :value => t('multi_login.add')}
